* {
    border: 0;
    margin: 0;
    padding: 0;
}
#div-wrapper {
    white-space: nowrap;
    max-width: 99%;
}
.single-div {
   width:200px;
    height:80px;
    outline: 1px solid;
    float: left;
    background-color:#1C1C1C;
    display: inline-block;
    align: center;
    vertical-align: middle;
    white-space: normal;
}
.single-div {
        display: block;
        width: 25%;
        margin: 0 auto;
    }

body {
  background: turquoise; 
}





